body{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 35px;
}
h1{
    color: rgb(18, 192, 245);
}
h1#principal{
    text-align: center;
    font-size: 2em;
}
h2{
    color: blueviolet;
    font-size: 18px;
}
p{
    color: white;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
}
.basico{
    color: green;
}
.intermediario{
    color: yellow;
}
.avançado{
    color: red;
}
.destaque{
    background-color: rgba(255, 0, 0, 0.205);
}